<ul>
  {{#each blogs}}
    <li>
      <a href="/blogs/{{id}}"><h1>{{title}}</h1></a>
      <div><h2>{{contents}}</h2></div>
      <div><h3>{{username}}</h3></div>
      <div><h3>{{createdAt}}</h3></div>
    </li>
  {{/each}}
</ul>